/* MobileVerify.css */
.mobile-verify-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  padding: 10px;
}

.mobile-verify {
  background: white;
  border-radius: 20px;
  height: auto;
  width: 25vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.mobile-verify h3 {
  margin-bottom: 20px;
  font-size: xx-large;
  font-weight: 500;
  color: black;
}

.mobile-verify input {
  width: 80%;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  font-size: 16px;
  -moz-appearance: textfield;
}

.mobile-verify input::-webkit-outer-spin-button,
.mobile-verify input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.mobile-verify input:focus {
  border-bottom: 2px solid #2BB673;
}

.mobile-verify button {
  padding: 10px 20px;
  background: #2BB673;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  height: 15%;
  width: 40%;
  font-size: 3vh;
}

.mobile-verify button:hover {
  background: #45a049;
}

.signup-prompt {
  margin-top: 10px;
  font-size: 14px;
}

.signup-link {
  color: #2BB673;
  text-decoration: none;
  cursor: pointer;
}

.signup-link:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 768px) {
  .mobile-verify {
    width: 60vw;
    height: auto;
    max-height: 80vh;
    padding: 15px;
  }

  .mobile-verify h3 {
    font-size: 25px;
  }

  .mobile-verify button {
    width: 60%;
    font-size: 2.5vh;
  }

  .signup-prompt {
    font-size: 12px;
  }
}

@media only screen and (max-width: 468px) {
  .mobile-verify {
    width: 90vw;
    height: auto;
    max-height: 80vh;
    margin-right: 15px;
    padding: 10px;
  }

  .mobile-verify h3 {
    font-size: 20px;
  }

  .mobile-verify button {
    width: 70%;
    font-size: 2vh;
  }

  .signup-prompt {
    font-size: 10px;
  }
}
